h1,
h2,
h3,
h4 {
  font-family: Yanone Kaffeesatz, sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.kenya-flag {
  width: 130px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  z-index: 1;
}

#head {
  height: 40vh;
}

#head,
#foot {
  background-image: url(https://images.unsplash.com/photo-1528035015334-80868324e60e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#head > * {
  color: #fff;
}

#head::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

.navigation {
  position: fixed;
  z-index: 1;
}

#head .image-section {
  width: 100%;
  height: 112vh;
  object-fit: cover;
}

#head .navigation .links .link .image {
  width: 60px;
}

#head .navigation .links {
  display: flex;
  align-items: center;
}

#head .navigation .links > * {
  color: #fff;
}

.links .link i:not(:last-child) {
  margin-top: 50px;
}

.links .link button {
  all: unset;
  position: relative;
  left: 30px;
  bottom: 20px;
  background-color: rgb(255, 84, 113);
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
}

#head .navigation .links .link:first-child {
  margin-left: 15px;
  margin-right: 20px;
  width: 80px;
}

#head .navigation .links .link:nth-child(2) {
  margin-right: 500px;
  font-size: 35px;
  font-weight: bold;
}

#head .navigation .links .link:nth-child(6) {
  margin-right: 360px;
}

#head .navigation .links .link:nth-child(3),
#head .navigation .links .link:nth-child(4),
#head .navigation .links .link:nth-child(5) {
  margin-right: 50px;
}

#head .navigation .links .link:nth-child(3),
#head .navigation .links .link:nth-child(4),
#head .navigation .links .link:nth-child(5),
#head .navigation .links .link:nth-child(6) {
  font-size: 20px;
  font-weight: bold;
}

#head .navigation .links .link a:hover {
  color: rgb(102, 101, 101);
}

#head .navigation .links .link:nth-child(7),
#head .navigation .links .link:nth-child(8),
#head .navigation .links .link:nth-child(9),
#head .navigation .links .link:nth-child(10) {
  margin-right: 50px;
  font-size: 22px;
  margin-top: 10px;
}

#head .navigation .links .link:nth-child(7) {
  margin-bottom: 20px;
}

#head .navigation .links .link:nth-child(7):hover {
  color: rgb(0, 0, 29);
  cursor: pointer;
}

#head .navigation .links .link:nth-child(8):hover {
  color: rgb(205, 0, 0);
  cursor: pointer;
}

#head .navigation .links .link:nth-child(9):hover {
  color: darkblue;
  cursor: pointer;
}

#head .navigation .links .link:nth-child(10):hover {
  color: #000;
  cursor: pointer;
}

#head .navigation .links .link a {
  text-decoration: none;
  color: #fff;
}

#head .title {
  font-size: 150px;
  text-align: center;
  position: relative;
  top: 100px;
  z-index: 1;
}

#hero {
  background-color: #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero article {
  margin: 60px 0;
  margin-right: 800px;
}

#hero article img {
  width: 700px;
  height: 400px;
  object-fit: cover;
}

#hero .hero-section .content {
  width: 700px;
}

#hero .hero-section .headings {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid darkgray;
}

#hero .hero-section .headings h3 {
  margin-right: auto;
  position: relative;
  right: 14px;
  font-size: 25px;
}

#hero .hero-section .headings span {
  font-size: 18px;
  font-weight: bold;
}

#hero .hero-section .headings span i {
  font-weight: bold;
}

#hero .hero-section .content p {
  margin-bottom: 40px;
  margin-top: 10px;
}

#hero .hero-section .content .btn {
  all: unset;
  background-color: rgb(24, 24, 24);
  padding: 10px;
}

#hero .hero-section .content .btn a {
  text-decoration: none;
  color: #fff;
}

aside {
  position: absolute;
  right: 400px;
  top: 400px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

aside .container h2 {
  font-size: 50px;
}

aside .container div img {
  width: 100px;
}

aside .container .parag-container {
  width: 300px;
}

aside .container .image {
  display: flex;
  align-items: center;
  gap: 10px;
}

aside .container .image:not(:last-child) {
  margin-bottom: 20px;
}

aside .container .image img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

aside .container .image span {
  font-size: 18px;
}

aside .container .list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

aside .container .list .item {
  border-bottom: 1px dashed black;
}

#foot {
  display: flex;
  justify-content: space-evenly;
  gap: 120px;
  padding: 50px;
  padding-top: 1px;
}

#foot .container {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#foot .container h2 {
  font-size: 50px;
}

#foot .container p {
  font-size: 20px;
}

#foot .container .icons {
  display: flex;
  gap: 30px;
  margin-bottom: 80px;
}

#foot .container .icons .icon {
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 100%;
  font-size: 20px;
}

#foot .container .icons .icon:first-child {
  padding: 20px 25px;
}

#foot .container .icons .icon:first-child:hover {
  color: rgb(44, 44, 228);
  cursor: pointer;
}

#foot .container .icons .icon:nth-child(2):hover {
  color: rgb(46, 173, 241);
  cursor: pointer;
}

#foot .container .icons .icon:nth-child(3):hover {
  color: rgb(255, 70, 70);
  cursor: pointer;
}

#foot .container .rights {
  font-size: 20px;
}

#foot .newsletter {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 100px;
}

#foot .newsletter .photos {
  display: flex;
  gap: 15px;
}

#foot .newsletter h2 {
  font-size: 40px;
}

#foot .newsletter input {
  background-color: #000;
  border: none;
  padding: 15px 10px;
}

#foot .newsletter .photos .photo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

#foot .container div {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 80px;
}

#foot .container div h3 {
  font-size: 40px;
}

#foot .container div img {
  width: 100px;
  background-color: #fff;
  border-radius: 50px;
  padding: 5px;
}

#foot .newsletter .photos .photo img {
  width: 100px;
}

#foot::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 53.1%;
  background-color: black;
  opacity: 0.5;
}

#foot > * {
    z-index: 1;
    color: #fff;
}
