{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="wrapper">
        <div class="person">
            <img src="{% static '/images/ian-dooley-d1UPkiFd04A-unsplash.jpg' %}" alt="">
            <h3 class="intro">Hi, I'm John!</h3>
            <p>I love coding, doing research and collaborating!</p>
        </div>

        <div class="desc">
            <h1>My First Job as a Developer</h1>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, et alias natus possimus illo aut
                debitis amet voluptatum ipsam pariatur suscipit ratione ad illum cupiditate laboriosam fugit libero
                distinctio recusandae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, et alias natus possimus illo aut
                debitis amet voluptatum ipsam pariatur suscipit ratione ad illum cupiditate laboriosam fugit libero
                distinctio recusandae.
            </p>

            <br>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, et alias natus possimus illo aut
                debitis amet voluptatum ipsam pariatur suscipit ratione ad illum cupiditate laboriosam fugit libero
                distinctio recusandae.Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, et alias natus possimus illo aut
                debitis amet voluptatum ipsam pariatur suscipit ratione ad illum cupiditate laboriosam fugit libero
                distinctio recusandae.  
            </p>

            <br>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, et alias natus possimus illo aut
                debitis amet voluptatum ipsam pariatur suscipit ratione ad illum cupiditate laboriosam.
            </p>

            <ul class="icons">
                <li class="icon"><i class="fa-brands fa-facebook-f"></i></li>
                <li class="icon"><i class="fa-brands fa-linkedin"></i></li>
                <li class="icon"><i class="fa-brands fa-square-twitter"></i></li>
                <li class="icon"><i class="fa-brands fa-square-youtube"></i></li>
            </ul>
        </div>
    </div>

    <div class="experience">
        <div class="card">
            <h3>My Experience as a Developer</h3>

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque explicabo sed sunt eaque impedit
                facere. Quasi, officia animi ratione repellendus at omnis dolores tenetur, esse ullam minima neque,
                assumenda soluta.
            </p>
        </div>

        <div class="card">
            <h3>Short term goals</h3>

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque explicabo sed sunt eaque impedit
                facere. Quasi, officia animi ratione repellendus at omnis dolores tenetur, esse ullam minima neque,
                assumenda soluta.
            </p>
        </div>

        <div class="card">
            <h3>What i Know</h3>

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque explicabo sed sunt eaque impedit
                facere. Quasi, officia animi ratione repellendus at omnis dolores tenetur, esse ullam minima neque,
                assumenda soluta.
            </p>
        </div>

        <div class="card">
            <h3>How I learn</h3>

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque explicabo sed sunt eaque impedit
                facere. Quasi, officia animi ratione repellendus at omnis dolores tenetur, esse ullam minima neque,
                assumenda soluta.
            </p>
        </div>
    </div>


</body>

</html>