body {
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem 20rem;
}

img {
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    object-fit: cover;
}

.wrapper {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.person {
    width: 17rem;
    padding: .9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.person p {
    text-align: center;
    font-size: 1.4rem;
}

.person > h3 {
    font-size: 2rem;
    border-top: 1px solid rgb(197, 197, 197);
    padding-top: 1rem;
}

.desc {
    width: 100rem;
    padding: 1rem .5rem;
    background-color: #fff;
}

.desc h1 {
    border-bottom: 1px solid rgb(197, 197, 197);
    padding-bottom: 1.5rem;
}

.desc p {
    font-size: 1.5rem;
}

.icons {
    list-style-type: none;
    display: flex;
    gap: .5rem;
}

.icons .icon {
    font-size: 3rem;
}

.experience {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.card {
    background-color: #fff;
    width: 40rem;
}

.card > * {
    font-size: 2rem;
    padding: 1rem;
}


