@import url(https://use.fontawesome.com/releases/v5.6.3/css/all.css);

:root {
  --red: #e30914;
  --grey: #222222;
  --white: #fff;
  --black: #000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--grey);
}

.btn {
  border: none;
  border-radius: 1px;
  padding: 0.25rem 0.75rem;
  color: var(--white);
  background-color: var(--red);
}

.content-section {
  background-color: var(--black);
  padding: 2rem 1rem;
  color: var(--white);
  text-align: center;
  margin-top: 0.25rem;
}

.content-section .content {
  margin-bottom: 1.25rem;
}

.content-section .title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero {
  height: 100vh;
  position: relative;
  color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 1) 100%
  );
  opacity: 0.7;
}

#hero .hero-bg {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#hero .wrapper {
  width: 90%;
  position: relative;
}

#hero .title {
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 1.25rem;
}

#hero .subtitle {
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-weight: normal;
}

#hero .form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

#hero .form input {
  border: none;
  padding: 0.75rem 1.25rem;
  width: 100%;
  border-radius: 1px;
}

#hero .form .btn {
  padding: 0.75rem 1.25rem;
}

#hero .desc {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: normal;
}

@media screen and (min-width: 640px) {
  #hero .form {
    flex-direction: row;
    gap: 0;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    overflow: hidden;
  }

  #hero .form .btn {
    width: 180px;
    flex-shrink: 0;
    border-radius: 0px;
  }

  #hero .form input {
    border-radius: 0px;
  }
}

@media screen and (min-width: 768px) {
  .content-section {
    padding: 4rem 2rem;
    text-align: left;
  }

  .content-section .wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    align-items: center;
  }

  .content-section .content {
    margin-bottom: 0;
  }

  .content-section:nth-of-type(odd) .content {
    order: 2;
  }

  .content-section .title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }

  #hero .wrapper {
    max-width: 760px;
  }

  #hero .title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  #hero .subtitle,
  #hero .desc {
    font-size: 1.3rem;
  }

  #hero .subtitle,
  #hero .form,
  #hero .desc {
    margin-bottom: 1.5rem;
  }

  #hero .form {
    max-width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  #hero .title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  #hero .subtitle,
  #hero .desc {
    font-size: 2rem;
  }

  #hero .subtitle,
  #hero .form,
  #hero .desc {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 20px;
  }

  #hero .form .btn {
    width: unset;
  }

}

#faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.2rem;
}

#faq .title {
  font-size: 50px;
}

#faq .questions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-type: none;
  margin-bottom: 80px;
}

#faq .questions .wrapper {
  border-radius: 1px;
  padding: 20px;
  background-color: var(--grey);
  display: flex;
  width: 800px;
}

#faq .questions .wrapper .question {
  font-size: 20px;
}

#faq .questions .wrapper .question {
  margin-right: auto;
}

#faq .text-msg {
  margin-bottom: 5px;
}

#faq .form {
  display: flex;
  justify-content: baseline;
  margin-bottom: 1rem;
  padding: 15px 20px;
  margin-left: 30px;
}

#faq .form .email {
  width: 500px;
  padding: 20px 15px;
}

#faq .form .btn {
  font-size: 28px;
  width: 300px;
}

#faq .form .btn i {
  width: 10px;
}

#foot > * {
  color: #505050;
}

#foot {
  background-color: var(--black);
  padding: 100px 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#foot .foot-title {
  position: relative;
  left: 260px;
  bottom: 200px;
  font-size: 20px;
}

#foot .topics-categories {
  display: flex;
  gap: 100px;
  margin-right: 100px;
}

#foot .topics-categories .topics {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
  font-weight: bold;
  font-size: 20px;
}

#foot .topics-categories .topics .speed {
  margin-bottom: 42px;
}

@media screen and (max-width: 1790px) {
  #foot{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #foot .foot-title {
    position: unset;
    margin-bottom: 100px;
    font-size: 30px;
  }
}

@media screen and (max-width: 1160px) {
  #faq .title {
    font-size: 40px;
  }

  #faq .questions .wrapper {
    max-width: 700px;
  }

  #faq .form .email {
    width: 350px;
  }

  #faq .form .btn {
    font-size: 20px;
    width: 200px;
  }
}

@media screen and (max-width: 900px) {
  #faq .title {
    font-size: 30px;
  }

  #faq .questions .wrapper {
    max-width: 600px;
  }

  #faq .form .email {
    width: 280px;
  }

  #faq .form .btn {
    font-size: 15px;
    width: 150px;
  }

  #foot .topics-categories {
    gap: 20px;
  }
}

@media screen and (max-width: 690px) {
  #faq .questions .wrapper {
    max-width: 450px;
    overflow: hidden;
  }

  #faq .questions {
    margin-right: 35px;
    margin-bottom: 30px;
  }

  #faq .title {
    font-size: 30px;
  }

  #faq .form {
    margin-left: 0;
    align-items: flex-start;
  }

  #faq .form .email {
    margin-bottom: 15px;
  }

  #faq .form .email {
    padding: 15px 10px;
  }

  #faq .form .btn {
    font-size: 20px;
    width: 230px;
    padding: 15px;
  }

  #foot .topics-categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 0;
  }

  #foot .foot-title {
    text-align: center;
    bottom: 400px;
    font-size: 25px;
  }
}

@media screen and (max-width: 540px) {
  #faq .questions .wrapper {
    max-width: 400px;
    overflow: hidden;
  }

  #faq .questions {
    margin-right: 35px;
    margin-bottom: 30px;
  }

  #faq .title {
    font-size: 25px;
  }

  #faq .text-msg {
    font-size: 15px;
  }

  #faq .form {
    flex-direction: column;
    align-items: center;
  }

  #faq .form .email {
    width: 430px;
    margin-bottom: 15px;
  }

  #faq .form .email {
    padding: 15px 10px;
  }

  #faq .form .btn {
    font-size: 15px;
    width: 200px;
    padding: 15px;
  }
}

@media screen and (max-width: 460px) {
  #faq .questions .wrapper {
    max-width: 230px;
    overflow: hidden;
  }

  #faq .questions {
    margin-right: 35px;
    margin-bottom: 30px;
  }

  #faq .title {
    font-size: 20px;
    margin-left: 20px;
  }

  #faq .text-msg {
    font-size: 12px;
  }

  #faq .form {
    flex-direction: column;
    align-items: center;
  }

  #faq .form .email {
    width: 300px;
    margin-bottom: 15px;
  }

  #faq .form .email {
    padding: 15px 10px;
  }

  #faq .form .btn {
    font-size: 15px;
    width: 200px;
    padding: 15px;
  }
}
