* {
    box-sizing: border-box;
}

.container {
    max-width: 85vw;
    display: flex;
}

.container section {
    display: flex;
    text-align: center;
}

.container .item {
    border: 1px solid black;
    padding: 12px;
    display: block;
    height: 16vh;
}

.container .notes {
    width: 25%;
    flex-direction: column;
}

.container .week {
    width: 75%;
    flex-wrap: wrap;    
}

.container .week .item {
    width: 20%;
}

.container .notes .item {
    height: 100%;
}

.container .week .item:nth-child(1),
.container .week .item:nth-child(7) {
    width: 100%;
}

.container .week .item:nth-child(8),
.container .week .item:nth-child(9) {
    width: 50%;
}
