<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section style="display: flex; justify-content: space-between;">
        <div>
            {% for employee in employees%}
                <div>Employee name: {{employee.first_name}} {{employee.last_name}}</div>
                <div>Department name: {{employee.department.name}}</div>
                <div>Years of experience: {{employee.years_of_experience}}</div>
                <div>Age: {{employee.age}}</div>
                <br>
            {% endfor %}
        </div>
    
        <div>
            {% for employee in filtered%}
                <div>Employee name: {{employee.first_name}} {{employee.last_name}}</div>
                <div>Department name: {{employee.department.name}}</div>
                <div>Years of experience: {{employee.years_of_experience}}</div>
                <div>Age: {{employee.age}}</div>

                <a href="{% url 'delete employee' pk=employee.pk %}">Delete</a>

                <br>
            {% endfor %}
        </div>
    </section>

</body>
</html>