body {
    background-color: rgb(238, 238, 238);
}

a {
    position: absolute;
    left: 380px;
    top: 475px;
    background-color: rgb(0, 153, 0);
    text-decoration: none;
    font-family: Georgia, serif;
    font-size: 1em/1.2;
    color: #fff;
    padding: 12px;
    border-radius: 3px;
}

.card {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 500px;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3, p {
    font-family: Georgia, serif;
    position: relative;
    left: 25px;
}


