<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{title | lower}}</h1>
    <p>{{random}}</p>
    <p>{{nested.second}}</p>
    <p>{{student.name}}</p>

    <div>
        Menu: {{title | length}}
    </div>

    <section>
        {{students | length}}
    </section>
    <span>{{now | date:"m-d-y"}}</span>
</body>
</html>